{% extends 'base.html' %}

{% block content %}
<hr>
<div class="container-fluid">
    <hr>
    {% if pitches %}
    <div class="row">
        {% for pitch in pitches %}
            <div class="col-md-4">
                <div class="card card-image mb3" style="background-color: orange;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h5 class="pink-text"><i class="fas fa-chart-pie"></i>{{pitch.pitch_title|capitalize}}</h5>
                    <h3 class="card-title pt-2"><strong></strong></h3>
                    <p>{{pitch.pitch_content}}</p>
                    <a href="/pitch/{{pitch.id}}" class="btn btn-orange"><i class="fas fa-clone left"></i> View pitch</a>
                    <hr>
                    <p>Posted by {{pitch.user.username}}</p>
                </div>
                </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h2>{{current_user.username}} has no posts</h2>
        {% endif %}
        </div>
</div>
{% endblock %}